{% extends "base.html" %}

{% block content %}
<h1>FAQ</h1>
<div class="stack gap-l">
    <section class="stack gap-m card">
        <h2>FAQ</h2>
        <details>
            <summary>
                Qu'est-ce que les échecs poissons ?
            </summary>
            Un jeu
        </details>
        <details>
            <summary>
                Comment jouer ?
            </summary>
            Bah gros
        </details>
        <details>
            <summary>
                Comment ajouter mes parties ?
            </summary>
            Faut être membre
        </details>
        <details>
            <summary>
                Comment commenter les parties ?
            </summary>
            Faut être membre
        </details>
        <details>
            <summary>
                Combien coûte l'adhésion ?
            </summary>
            30 balles par an jdirais... non, (7$ * 12)/2 = 40 balles
        </details>
    </section>
</div>
{% endblock %}
