{% extends "base.html" %}

{% block content %}
<h1>fédération</h1>
<section class="stack gap-m card">
    <h2>Bienvenue...</h2>
    <p>...sur le site de la
    <span>Fédération Française d'Échecs Poissons</span>.
    </p>
    <p>Nous serons une association loi 1901 si dieu veut.</p>
</section>
<section class="stack gap-m card">
    <h2>Nous rejoindre</h2>
    <p>En rejoignant la FFEP, vous pourrez :</p>
    <ul>
        <li>Voir et commenter les parties d'échecs poissons</li>
        <li>Ajouter vos propre parties</li>
        <li>Accéder au chat exclusif</li>
        <li>Voir vos statistiques</li>
        <li>Accéder au support</li>
        <li>...</li>
        <li>et beaucoup plus !</li>
    </ul>
    <p>Vous contribuerez à notre développement pour répandre la bonne parole.</p>
    <a href="/join" class="button">Rejoindre</a>
</section>
<section class="stack gap-m card">
    <h2>Déjà membre ?</h2>
    <p>Connectez-vous ici :</p>
    <form action="login" method="post" class="stack gap-s">
        <input type="text" name="username" placeholder="fischer" required autocomplete="username">
        <input type="password" name="pwd" placeholder="password" required autocomplete="current-password">
        <input class="button" type="submit" value="Se connecter">
    </form>
</section>
{% endblock %}
